* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(./img/hero.jpg);
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  background: url(./img/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  position: relative;
}
.hero .vertical {
  height: 15%;
}
.hero .nav {
  display: flex;
}
.hero .nav .spacer {
  width: 25%;
}
.hero .nav .nav-links {
  display: flex;
  width: 70%;
  background: #edebeb 0% 0% no-repeat padding-box;
  justify-content: space-between;
  padding: 5px;
  padding-left: 35%;
  padding-right: 10%;
}
.hero .nav .nav-links p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.hero .bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 10px 7.5%;
}
.hero .bottom .content h1 {
  text-align: left;
  font: normal normal bolder 50px Poppins;
  letter-spacing: 1px;
  color: #fffefe;
  width: 700px;
}
.hero .bottom .content p {
  text-align: left;
  line-height: 36px;
  color: #f7f7f7;
  width: 500px;
  font-size: 16px;
}
.hero .popup {
  position: absolute;
  bottom: 0;
  left: 65%;
  width: 35%;
  display: flex;
  justify-content: center;
}
.hero .popup .open {
  display: none;
}
.hero .popup .close {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 7.5px;
  background: #e1dede 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
}
.hero .popup .close p {
  text-align: left;
  letter-spacing: 1px;
  font-size: bolder;
  font-size: 16px;
}
.hero .popup img {
  width: 30px;
  padding-left: 15%;
}

.about .top {
  padding: 90px 12.5%;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-gap: 40px;
}
.about .top .left {
  padding: 0 10%;
}
.about .top .left h2 {
  padding: 0px 0 40px 0px;
  font-weight: 600;
  font-size: 30px;
}
.about .top .left div {
  padding: 10px 0;
  padding-bottom: 40px;
}
.about .top .left div h3 {
  padding-bottom: 10px;
}
.about .top .left div p {
  font-size: 14px;
  color: #383737;
}
.about .top .left .left-text {
  text-align: left;
  font: normal normal normal 16px Poppins;
  letter-spacing: 0px;
  line-height: 36px;
  color: #707070;
  opacity: 1;
}
.about .top .left .line {
  border-bottom: 2px solid #e26804;
  width: 50px;
  transition: all 0.5s ease-in-out;
  padding-bottom: 5px;
  color: #707070;
}
.about .top .left .line:hover {
  width: 75px;
  cursor: pointer;
}
.about .top .image-border {
  border: 3px solid #e26804;
  width: 250px;
  height: 404.6px;
}
.about .top .image-border .about-image {
  position: relative;
  top: -30px;
  left: -30px;
  background: url(./img//about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 404.6px;
  transition: all 0.5s ease-in-out;
}
.about .top .image-border .about-image:hover {
  width: 255px;
  height: 410px;
}
.about .bottom {
  padding: 0px 7.5%;
}
.about .bottom .manu {
  background: #fff;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  height: 250px;
}
.about .bottom .manu .left {
  background: url(./img/manu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
}
.about .bottom .manu .left .inside {
  border: 3px solid #e26804;
  width: 600px;
  height: 400px;
  position: relative;
  top: 30px;
  left: -30px;
}
.about .bottom .manu .right {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.about .bottom .manu .right .line {
  border-bottom: 2px solid #e26804;
  width: 50px;
  transition: all 0.5s ease-in-out;
  padding-bottom: 5px;
  color: #707070;
}
.about .bottom .manu .right .line:hover {
  width: 75px;
  cursor: pointer;
}

.strength {
  text-align: center;
  padding: 90px 12.5%;
  padding-top: 300px;
  background: #000000;
}
.strength .top h3 {
  font: normal normal 600 40px/66px Poppins;
  color: #E16703;
}
.strength .top p {
  text-align: center;
  font: normal normal normal 16px Poppins;
  letter-spacing: 0px;
  line-height: 36px;
  color: rgba(255, 254, 254, 0.6705882353);
}
.strength .bottom {
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 20px 0;
}
.strength .bottom .stat h3 {
  font: normal normal 800 40px/66px Poppins;
  letter-spacing: 0px;
  color: #E16703;
}
.strength .bottom .stat p {
  text-align: center;
  font: normal normal normal 16px Poppins;
  letter-spacing: 0px;
  color: rgba(255, 254, 254, 0.6705882353);
}

.cert {
  padding: 50px 7.5%;
}
.cert h3 {
  padding-bottom: 50px;
}
.cert div {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.cert div .cert-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.cert div .cert-wrapper .one {
  width: 453px;
  height: 601px;
  transition: all 0.5s ease-in-out;
}
.cert div .cert-wrapper .one:hover {
  width: 473px;
  height: 621px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
